@use './variables' as *;

.sidebar {
    height: 100vh;
    overflow: hidden;

    .MuiTypography-root {
        color: $text-color;
        font-size: 14px;
        font-weight: 500;
    }

    .MuiDrawer-paper {
        height: 100vh;
        overflow-y: auto;
    }

    .MuiButtonBase-root {
        .MuiListItemIcon-root {
            min-width: 40px;
        }
       svg{
            fill: $blue;
            font-size: 22px;
            // opacity: 0.85;
       } 
    }

    .MuiCollapse-root{
        background-color: #f6f6f6;
    }
}